<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Defeat!</title>
  </head>
  <body>
    <h1 class="title">DEFEAT! Try again!</h1>
  </body>
</html>