<html>
  <head>
    <title>MASTERMIND</title>
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:700" rel="stylesheet">
  </head>
  <body>
    <style>
      body {
        font-family: 'Encode Sans Condensed', sans-serif;
        background: #FFFFFF;
        text-align: left;
        white-space: pre-line;
        font-size: 24px;
      }
    </style>
    <form>
    </form>
  </body>
</html>